<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tienda</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
	{{>header}}
	<main class="wrapper">
		<section class="gallery">
			<h2 class="gallery_title">Carrito de compras</h2>
			<div id="carts_container" class="carts_container">
				<!-- productos -->
			</div>
		</section>
	</main>	
	<script src="cart.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<!-- <script src="realTimeProducts.js"></script> -->
</body>
</html>