:root{
	--red-line: 1px solid red;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*outline: 1px solid red; */
}
header{
	width: 100%;
	height: 80px;
	display: flex;
	background: #062863;
	background: linear-gradient(169deg, rgba(6, 40, 99, 1) 0%, rgba(203, 14, 211, 1) 61%);
	color: #000;
}
header nav{
	width: 30%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header nav a{
	font-size: 1.6rem;
	font-weight: 300;
	text-decoration: none;
	color: #fff;
}
.cart_image_container{
    display: flex;
    width: 10%;
    height: 100%;
    padding: 1%;
    margin-right: 30px;
  }
.cart_image{
    width: 2.5rem;
    padding: 1px;
    fill: white;
    cursor: pointer;
  }
.cart_counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30%;
    background-color: crimson;
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    border-radius: 50%;
  }
body{
	background: #fafafa;
}
.wrapper{
	width: 93%;
	min-height: calc(100vh - 100px);
	margin: 0 auto;
	/*outline: var(--red-line);*/
}
.gallery{
	width: 100%;
	min-height: 100%;
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:20;
}
.gallery_title{
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	text-align: center;
}
.items_container{
	width: 90%;
	margin: 5px auto;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap:1px;
}
.card{
	width: 17%;
	min-height: 150px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	border: 1px solid #ccc;
	background: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); 
	border-radius: 10px;
}
.card_title{
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: .5px;
}
.card_text{
	letter-spacing: 5;
}
.btn_container{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;}
.btn_delete, .btn_see{
	width: 40%;
	margin-top: 5px;
	padding: 3px 8px 3px 8px;
	border-radius: 10px;
	background: linear-gradient(169deg, rgba(6, 40, 99, 1) 0%, rgba(203, 14, 211, 1) 61%);
	color: white;	
	cursor: pointer;
}
.form_product{
	width: 40%;
	margin:auto;
	padding: 20px;
	background: rgba(245, 240, 245, 0.2);
	border: 1px solid #e0e0e0;                 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   
  border-radius: 4px; 
}
.form_product label {
  display: block;
  margin-left: 5px; 
  margin-bottom: 0.25rem;
  color: #000;
  font-size: 1.4rem;

}
.form_product input {
  width: 100%;
  padding: 0.6rem 0.4rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s;
}
.form_product input:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(203, 14, 211, .10);
}
.form_product button {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(169deg, rgba(6, 40, 99, 1) 0%, rgba(203, 14, 211, 1) 61%);;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.form_product button:hover{
  border: 3px solid #C8A2C8;    
  background: rgba(220, 190, 220, 0.3);
  box-shadow: 0 4px 8px rgba(200, 162, 200, 0.3);
  color: #C8A2C8;
  text-shadow: 2px 2px 4px rgba(200, 162, 200, 0.3);
}

.container_btn{
	width: 83%;
	height: 30px;
	margin: auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.btn_container2{
	width: 100%;
	display: flex;
	justify-content: space-between;
	/*outline: var(red-line);*/
}

.page_btn{
	padding:2px 10px;
	font-size: 1.2rem;
	font-weight: 300;
	background: transparent;
	cursor: pointer;
	border: none;
	font-style: oblique;
}
.pageNumber{
	font-size: 1rem;
	font-weight: 300;
	font-style: oblique;
}
#product_container{
	width: 50%;
	padding: 30px 30px;
	background: #fcfcfc;
border: double 4px #EAEAEA; 
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.04), 
    0 6px 12px rgba(0, 0, 0, 0.06);
	/*outline: var(--red-line);*/
}
/*Card product*/
.cardProduct_text{
	font-size: 1.4rem;
	font-weight: 300;
}
.cardProduct_price{
	font-size: 1.3rem;
}
.btn_product{
	width: 40%;
	font-size: auto;
	padding: 5px 10px;
}

/*Modal*/
.modal{
	position: fixed;
	top:0;
	left: 0;
	width: 100%; 
	height: 100%;
	background: rgba(0, 0, 0, .7);
	justify-content: center;
	align-items: center;
	z-index:1000;
	color: white;
	backdrop-filter: blur(8px);
	transition: opacity 0.3s ease;
}
.hidden{
	display: none;
}
.modal_content{
	outline: var(--red-lines);
	margin:100px auto;
	padding: 1rem;
	width: 70%;
	min-height: 400px;
	border-radius: 10px;
	animation: fadeIn 0.3s ease;
	background: rgba(1, 0, 0, .2);

	display: flex;
	justify-content: center;
	align-items: center;
}
.close_btn{
	position: absolute;
	background: rgba(0, 0, 0, .9);
	top: 10px; 
	right: 10px;
	font-size: 1.5rem;
	cursor: pointer;
}
.label_modal{
	font-size: 2rem;

}
/*card cart*/
.cardCart{
	width: 60%;
	min-height: 300px;
	margin: 20px auto;
	padding:2rem;
	border: 1px solid #ccc;
	background: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); 
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	position: relative;

}
.close_card_cart{
	position: absolute;
	top:30px;
	right: 30px;

	background: #dd969c;
	color: white;
	font-size: 1.5rem;
	font-weight: bolder;
	padding: 6px;

	cursor: pointer;
}